 .wizard-step {
     display: none;
     width: 100%;
     left: 100%;
     opacity: 0;
     -webkit-transition: left 0.5s ease-in-out, opacity 0.5s ease;
     transition: left 0.5s ease-in-out, opacity 0.5s ease;
 }

 .wizard-step.done {
     left: -100%;
     z-index: -1;
     opacity: 0;
 }

 .wizard-step.active {
     left: 0;
     display: block;
     z-index: 1;
     opacity: 1;
     height: 100%;
 }

 .wizard-step.active+.wizard-step {
     left: 100%;
     z-index: 0;
 }
/*tab css*/
.sleep_id_section{
	box-shadow: 0 0 8px 0 #ccc;
    padding: 30px 0px 0px;
    background-size: 70%;
    background-image: url(../img/white_background.png);
        height: 558px;
}
.first_start_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.first_start_text .sleepid_text{
	font-size: 2rem;
    color: #353275;
        margin-bottom: .5rem;
    /*font-weight: bolder;*/
}
.first_start_text .sleepid_text .id {
    color: #3b8eba;
}
.first_start_text .wizard-next {
    padding: 15px 42px;
    font-size: 25px;
    /*margin-top: 10px;*/
    background-color: #3086db;
    color: #fff;
    border-radius: 50px;
}
.two{
   display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.three{display: flex;
    flex-direction: column;
    justify-content: space-around;}
    .four{display: flex;
        flex-direction: column;
        justify-content: space-around;}
    .five{display: flex;
        flex-direction: column;
        justify-content: space-around;}
    .six{display: flex;
        flex-direction: column;
        justify-content: space-around;}
    .seven{display: flex;
        flex-direction: column;
        justify-content: space-around;}
        .eight{display: flex;
            flex-direction: column;
            justify-content: space-around;}
        .nine{display: flex;
                flex-direction: column;
                justify-content: space-around;}
        .ten{display: flex;
            flex-direction: column;
            justify-content: space-around;}
        .eleven{display: flex;
        flex-direction: column;
        justify-content: space-around;}
        .twelve{display: flex;
            flex-direction: column;
            justify-content: space-around;}
        .thirteen{display: flex;
            flex-direction: column;
            justify-content: space-around;}
        .fourteen{display: flex;
            flex-direction: column;
            justify-content: space-around;}
        .fifteen{display: flex;
            flex-direction: column;
            justify-content: space-around;}
        .sixteen{display: flex;
            flex-direction: column;
            justify-content: space-around;}

        .seven .tab-content img {
            height: 350px;
        }
        .eight .tab-content img {
            height: 350px;
        }
        .seven .tab-content .tab-pane{text-align: center;}
        .eight .tab-content .tab-pane{text-align: center;}
#three_section h3,
#four_section h3,
#five_section_male h3,
#six_section_female h3,
#seven_section_male h3,
#eight_section_male h3,
#ten_section_male{margin: 0;}
.nine .form_group input {
    border: 2px solid #3086db;
    border-radius: 10px;
    height: 48px;
    margin-top: 22px;
}
.thirteen .form_group input {
    border: 2px solid #3086db;
    border-radius: 10px;
    height: 48px;
    margin-top: 22px;
}
.select_box {
    border: 2px solid #3086db;
    text-align: center;
    border-radius: 12px;
    /*margin-top: 50px;*/
    padding: 20px;
}
ul.top_nav{
display: flex;
    justify-content: space-between;}
ul.top_nav li span img{
    height: 15px;
}
ul.top_nav li.active span{color: #3086db;
}
ul.nav.top_nav li {
    /* border: 1px solid; */
    padding: 0 5px;
}
ul.nav.nav-tabs.w-100 a {
    color: #000;
    text-decoration: none;
}
.error{color: red;font-weight: 600;}
.blank{text-align:center;
    margin-top: 20px;
    height: 30px;
    margin-bottom: 20px;}
.blank_2{text-align:center;
    height: 30px;
}
.blank input,
.blank_2 input{
    display: none;
}
.select_box.active{
    color: #fff;
    border: 2px solid transparent;
    box-shadow: 0px 1px 8px 1px #ccc;
    background-color: #3086db;
}
.select_box input{
    display:none;
}
.wizard-prev,.wizard-next{
       background-color: #3086db;
    color: #fff;
    padding: 15px 23px;
    font-size: 19px;
    font-weight: 800;
    border-radius: 32px;
    line-height: 19px;
}
.wizard_next_prev_btn{
    display:flex;
    justify-content:space-between;
}
.male_slider input[type=radio],
 .female_slider input[type=radio] {
     position: absolute;
     opacity: 0;
     width: 0;
     height: 0;
 }

 /* IMAGE STYLES */
 .male_slider input[type=radio]+img,
 .female_slider input[type=radio]+img {
     cursor: pointer;
 }
 .male_slider .active_img, .female_slider .active_img {
    display: none!important;
}
#male_silhouette_slider .owl-stage, #female_silhouette_slider .owl-stage {
    transform: none !important;
}

#male_silhouette_slider .owl-item.active.center .male_slider .without_active {
    display: none;
}
 #male_silhouette_slider .owl-item.active.center .male_slider .active_img {
    display: block!important;
}

#female_silhouette_slider .owl-item.active.center .female_slider .without_active {
    display: none;
}
 #female_silhouette_slider .owl-item.active.center .female_slider .active_img {
    display: block!important;
}
.disclaimers_text{    border: 2px solid #3086db;
    height: 300px;
    overflow-x: auto;
    padding: 30px;
    border-radius: 20px;
    margin-top: 15px;
    background-color: #ffff;}