
<!DOCTYPE html>
<html lang="en" ng-app="EnterpriseExchange" ng-controller="ExchangeAppCtrl" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Cosmocoin</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/jquery.material.form.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css" />
    <!-- Custom styles for this template -->

    <link rel="stylesheet" type="text/css" href="css/toaster.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Plugins -->
    <script src="js/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>


    <link href="css/global.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    
  </head>

  <body ng-controller="ExchangeUserCtrl" ng-cloak>
    <toaster-container toaster-options="{'time-out': 6000,'position-class': 'toast-bottom-right','close-button':true}"></toaster-container>
    <!-- <toaster-container toaster-options="{'time-out': 7000}"></toaster-container> -->
    
    
    <div class="logarea">
    	<div class="texarea">
        	<div class="textt"><div class="logoon"><img src="images/logoon.png" alt="" class="img-fluid"></div>
            <h1><span>Welcome to</span> Cosmocoin</h1>
            <h2>A Fast and quality Exchange!!</h2>
            <h5>Lorem ipsum dolor site amet since te Lorem ipsum dolor site amet since te Lorem ipsum dolor site amet since te</h5>
		</div>
        </div>
        <style type="text/css">
           /* .right-bar{position: fixed;right: 0px;top: 0px;height: 100%;}
            .right-bar ul {
                list-style: none; margin: 0px; padding: 0px;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg); 
            }
            .right-bar ul li{ list-style: none; margin: 0px;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg); 
                margin-top: 481%;
                margin-left: 40%;
            }
            .right-bar ul li a{
                background: #007bff;
                width: auto;
                padding: 8px;
                border-radius: 5px;
                letter-spacing: 2px;
                text-shadow: 1px 1px 1px #24313c;
            }*/
        </style>
        <div class="forarea">
            <!-- <div class="right-bar">
                <ul>
                    <li><a href="exchange.html">Exchange</a></li>
                </ul>
                
            </div> -->
        	<div class="border-none">
                            <div class="card-body" id="login"> 
                            	<h2 class="text-white">LOGIN</h2>                               
                                <h5 class="text-white">Sign in to access your account{{'...'}}</h5>
                                <div class="mt-5">                                	
                                    <form ng-submit="SubmitLogin()">
                                        <div class="form-group">
                                            <input type="email" class="form-control kinput-lg" id="email" value="" placeholder="Enter email address" ng-model="q.Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control kinput-lg" id="password" value="" placeholder="Enter password" ng-model="q.Password">                                            
                                        </div>
                                        <label class="custom-control custom-checkbox mt-2 text-white">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Keep me logged in</span>
                                        </label> 
                                        <button type="submit" class="btn btn-primary float-right">Sign in</button>
                                                                               
                                    </form>
                                    <div class="clearfix"></div>
                                    <p class="content-divider center mt-4 text-white"><span>or</span></p>
                                </div>
                                
                                <p class="text-center text-white">
                                    Don't have an account yet? <a href="javascript:void();" class="text-primary registerb"><strong>Sign Up Now</strong></a>
                                    <br>
                                    <a href="javascript:void();" class="text-primary mt-1 ml-1 forgotb">forgot password?</a>
                                </p>
                                <p class="text-center text-white">
                                    <a href="#" class="btn btn-primary float-center" ng-click="DemoExchange()">
                                       Exchange
                                    </a>
                                </p>
                            </div>
                            
                            <div class="card-body" id="forgot">                                
                                <h2 class="text-white">FORGOT PASSWORD?</h2>                               
                                <h5 class="text-white">Enter email to get your Password{{'...'}}</h5>
                                <div class="mt-4">
                                    <form>
                                        <div class="form-group">
                                            <input type="email" class="form-control kinput-lg" id="email" value="" placeholder="Enter email address">
                                        </div>
                                        
                                        <a href="javascript:void();" class="btn btn-dark float-right ml-2 loginb">Back to Login</a> <button type="submit" class="btn btn-primary float-right">Submit</button>
                                    </form>
                                    <div class="clearfix"></div>
                                    <p class="content-divider center mt-4"><span>or</span></p>
                                </div>
                                
                                <p class="text-center text-white">
                                    Don't have an account yet? <a href="javascript:void();" class="text-primary registerb"><strong>Sign Up Now</strong></a>
                                </p>
                            </div>
                            
                            
                            <div class="card-body" id="register">                                
                                <h2 class="text-white">REGISTER</h2>                               
                                <h5 class="text-white">Sign Up to access your account{{'...'}}</h5>
                                <div class="mt-4">
                                    <form ng-submit="SubmitRegistration()" class="form-white">
                                        <div class="form-group">
                                            <label>Name </label>
                                            <input type="text" class="form-control kinput-lg" id="Name" value="" placeholder="Enter Name" ng-model="u.Name" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Phone </label>
                                            <input type="tel" class="form-control kinput-lg" id="phone" value="" placeholder="Enter Phone No." ng-model="u.Phone" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Email </label>
                                            <input type="email" class="form-control kinput-lg" id="email" value="" placeholder="Enter email id.." ng-model="u.Email" required>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label>Country <sup>*</sup></label><br />
                                                    <select ng-model="u.Country" class="form-control kinput-lg">
                                                        <option value="">-- Select a Country --</option>
                                                        <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
                                                    </select>
                                                </div>  
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Package <sup>*</sup></label><br />
                                                    <select ng-model="u.PackageId" class="form-control kinput-lg">
                                                        <option value="">[Select a Package]</option>
                                                        <option ng-repeat="p in dealerPackages" {{$index==0?selected='selected':''}} value="{{p.Trading_PkgId.toString()}}">{{p.Pkg_Name}}</option>
                                                    </select>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Address </label>
                                            <input type="text" class="form-control kinput-lg" id="address" value="" placeholder="Enter Address" ng-model="u.Address" required>
                                        </div> 
                                        <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City </label>
                                                <input type="text" class="form-control kinput-lg" id="address" value="" placeholder="Enter City" ng-model="u.City">
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>State </label>
                                                <input type="text" class="form-control kinput-lg" id="address" value="" placeholder="Enter State" ng-model="u.State">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Zip </label>
                                                <input type="text" class="form-control kinput-lg" id="address" value="" placeholder="Enter Zip" ng-model="u.Zip">

                                            </div>
                                        </div>
                                        </div>                                    
                                        <button type="submit" class="btn btn-primary float-right">Sign Up</button>
                                    </form>
                                    <div class="clearfix"></div>
                                    <p class="content-divider center mt-4"><span>or</span></p>
                                </div>
                                
                                <p class="text-center text-white">
                                    Do you have already registered? <a href="javascript:void(0);" class="text-primary loginb"><strong>Login Here</strong></a>
                                </p>
                            </div>
            </div>
        </div>
    </div>
    
    <!-- Settings -->
     <div class="modal fade" id="psettings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content kmodal">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                   
          <div id="div1" style="display:block">
            <h2>Enter OTP</h2>
            <hr>
            <div class="row">
                <div class="form-group">
                    <label>Zip </label>
                    <input type="text" class="form-control kinput-lg" id="OTP" value="" placeholder="Enter OTP" ng-model="OTP">
                </div>
            </div>
  
          </div>     
        </div>
      </div>
    </div>
  </div>
  


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script> <!-- JQUERY VALIDATOR (additional) --> 
	<script type="text/javascript" src="js/jquery.material.form.js"></script> <!-- JQUERY MATERIAL FORM PLUGIN --> 
	<script src="js/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
	<script src="js/jquery.mCustomScrollbar.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(e) {
            $('#register, #forgot').hide();
			$('.registerb').click(function(e) {
            	$('#login, #forgot').hide();
				$('#register').show();
            });
			$('.forgotb').click(function(e) {
            	$('#login, #register').hide();
				$('#forgot').show();
            });
			$('.loginb').click(function(e) {
            	$('#register, #forgot').hide();
				$('#login').show();
            });
        });
    </script>

    <!-- Toaster Plugin -->
    <script type="text/javascript" src="js/toaster.js"></script>

    <!-- Angular App Plugins -->
    <script type="text/javascript" src="controllers/module.js"></script>
    <script type="text/javascript" src="controllers/app.js"></script>
    <script type="text/javascript" src="controllers/user.js"></script>
    

    
    
  </body>
</html>
